@charset “utf-8”;
    #header .logo { 
        height: 36px;
    } 
    /* Custom style for my Jenkins Platform */
    .logo {
        background: url(/userContent/daex.png) no-repeat 10px center; 
    }

    .logo img { 
        display: none; 
    }

    .logo:after {
        content: 'Jenkins - Daex (Dados Extremos)';
        white-space: nowrap;
		color: white;
		position: relative;
		left: 80px;
    } // Content after logo